<!-- Site footer -->
<br/><br/><br/>
  <div class="containerFooter">
  	<div class="row">
  		<div class="col-lg-12">
  			<br/>
        <ul class="list-inline text-muted">
          <a href="#top" title="Back to top" style="color:#FFFFFF">
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Back to top</a>
          <li class="footer-menu-divider"> | </li>
          <li><a href="logout.html" style="color:#FFFFFF">
            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></li>
  			</ul>
  			<p class="copyright text-muted small"> &copy; K.R.O.M Support Team 2015. All Rights Reserved</p>
        <br/>
  		</div>
  	</div>
  </div>