#pagewrap {
    margin: 0 auto;
    width: 100%;
    padding: 0;
    top: 50%;
    padding-bottom: 5px;
}


div{
    cursor: default;
}
div h1{
    font-family: "Arial Black", Gadget, sans-serif;
}
div h2{
    font-family: "Comic Sans MS", cursive, sans-serif;
}
form legend{
    font-family: Times, "Times New Roman", Georgia, serif;
    font-size: 16px;
    font-weight: bold;

}
div.dashboard{
    background-color: white;

}
div.dashboard .table-hover tr:hover td{
    background-color: white;

}

div.nav a{
    text-decoration: none;

}
div.nav a:hover{
    text-decoration: none;
    background-color: transparent;
}

div.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 30px;
}

div.nav li{
    color: #CCCCCC;
    float: left;
    display: block;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;

}
div#loginModal input[type="submit"]{
    background-color: #004747;
    color:  #CCE0E0;
}
div#loginModal input[type="submit"]:hover{
    background-color: #197575;
    color:  #CCE0E0;
}

div.jumbotron{
    margin-top: 50px;
    text-align: center;
    background-color: white;
}


div.jumbotron1{
    margin-top: 100px;
    background-color: white;
    text-align: center;
    padding-top: 10px;

}
div.jumbotron1 .panel > .panel-heading {
    background-image: none;
    background-color: #8FB247;
    color: white;
}
div.jumbotron1 th{
    background-color: #eea236;
    font-weight: bold;
    color: white;
}
div.jumbotron2{
    margin-top: 100px;
    background-color: white;
    text-align: center;
    padding-top: 10px;

}
div.jumbotron3{
    margin-top: 100px;
    background-color: white;
    text-align: center;
    padding-top: 10px;
}
div.jumbotron3 input[type="button"]{
    background-color: #CC6600;
}
div.jumbotron3 input[type="button"]:hover{
    background-color: #FF9933;
}

div.jumbotron4{
    margin-top: 100px;
    text-align: left;
    padding-top: 10px;
}
div.jumbotron4 h1{
    text-align: center;
}
div.jumbotron4 input[type="submit"]{
    background-color: #990033;

}
div.jumbotron4 input[type="submit"]:hover{
    background-color: #C26685;

}
div.jumbotron4 label{
    text-align: left;
}
div.jumbotron4 .has-feedback select{
    padding-left: 30px;
}
div.jumbotronM h1{
    text-align: center;
}
div.jumbotronM{
    margin-top: 100px;
}

div.jumbotronM label{
    text-align: left;

}
div.jumbotronM .has-feedback select{
    padding-left: 30px;
}
div.jumbotronM .panel > .panel-heading {
    background-image: none;
    background-color: #000066;
    color: white;
}
div.jumbotronM input[type="submit"]{
    font-family: "Arial Black", Gadget, sans-serif;
    background-color: #000066;
    color:white;
}
div.jumbotronM input[type="submit"]:hover{
    font-family: "Arial Black", Gadget, sans-serif;
    background-color: #2E6EA5;
}
div.jumbotronM input[type="reset"]{
    font-family: "Arial Black", Gadget, sans-serif;
    background-color: #000066;
    color:white;
}
div.jumbotronM input[type="reset"]:hover{
    font-family: "Arial Black", Gadget, sans-serif;
    background-color: #2E6EA5;
}

/*Messaging jumbotronMs*/
div.jumbotronMs{
    margin-top: 100px;
    text-align: left;
    background-color: white;
}
div.jumbotronMs .has-feedback select{
    padding-left: 30px;
}
div.jumbotronMs label{
    text-align: left;
}

div.jumbotronMs h1{
    text-align: center;
}
div.jumbotronMs .panel > .panel-heading {
    background-image: none;
    background-color: #660033;
    color: white;
}
div.jumbotronMs input[type="submit"]{
    font-family: "Arial Black", Gadget, sans-serif;
    background-color: #660033;
}
div.jumbotronMs input[type="submit"]:hover{
    font-family: "Arial Black", Gadget, sans-serif;
    background-color: #993333;
}
div.jumbotronMs input[type="reset"]{
    font-family: "Arial Black", Gadget, sans-serif;
    background-color: #660033;
}
div.jumbotronMs input[type="reset"]:hover{
    font-family: "Arial Black", Gadget, sans-serif;
    background-color: #993333;
}


/*#End jumbotronMs*/
div.jumbotronF{
    margin-top: 50px;
    text-align: left;
    padding-top: 10px;
    background-color: white;
}
/*Staff Dashboard jumbotronDL*/
div.jumbotronDL {
    margin-top: 50px;
}
div.jumbotronDL h1{
    text-align: left;

}
div.jumbotronDL h2{
    text-align: left;
    font-family: "Arial Black", Gadget, sans-serif;

}
div.jumbotronDL h4{
    text-align: left;
    font-family: "Arial Black", Gadget, sans-serif;
    font-weight: bold;

}
div.jumbotronDL #dashboard_supervisor th{
    background-color: #19A3A3;
    color: white;

}
div.jumbotronDL #dashboard_supervisor tr:hover td{
    background-color: #D6E0FF;
    color: #009999;

}
div.jumbotronDL #dashboard_second_marker th{
    background-color: #D63333;
    color: white;

}
div.jumbotronDL #dashboard_second_marker tr:hover td{
    background-color: #F5CCCC;
    color: #D63333;

}
div.jumbotronDL2{
    text-align: center;
}
div.jumbotronDL2 h3{
    padding-top: 25%;
    font-family: "Arial Black", Gadget, sans-serif;
}

/*#End jumbotronDL*/

/*Upload Document CSS*/
div.jumbotronUD{
    margin-top: 50px;
    text-align: left;
    padding-top: 10px;
    background-color: white;
}

div.jumbotronUD input[type="submit"]{
    font-family: "Arial Black", Gadget, sans-serif;
    background-color: #993366;

}
div.jumbotronUD input[type="submit"]:hover{
    font-family: "Arial Black", Gadget, sans-serif;
    background-color: #AD5C85;

}
div.jumbotronUD input[type="button"]{
    font-family: "Arial Black", Gadget, sans-serif;
    background-color: #993366;

}
div.jumbotronUD input[type="button"]:hover{
    font-family: "Arial Black", Gadget, sans-serif;
    background-color: #AD5C85;

}

div.jumbotronUDtable{
    text-align: left;
}
div.jumbotronUDtable th{
    background-color: #993366;
    font-weight: bold;
}
div.jumbotronUDtable tr:hover td{
    background-color: #E0C2D1;
    color: #993366;
}
div.jumbotronUD h4{
    font-weight: bold;
    text-align: left;
    font-family: "Arial Black", Gadget, sans-serif;
}
div.jumbotronUD .panel > .panel-heading {
    background-image: none;
    background-color: #47476B;
    color: white;
}
div.jumbotronUDtable .panel > .panel-heading {
    background-image: none;
    background-color: #47476B;
    color: white;
}



/*#jumbotronUD*/

/*jumbotronBlog*/
div.jumbotronBlog {
    margin-top: 50px;
    text-align: left;
    padding-top: 10px;
    height: auto;
    background-color: white;
}
div.jumbotronBlog h3{
    text-align: left;
    font-family: "Arial Black", Gadget, sans-serif;

}
div.jumbotronBlog .panel > .panel-heading {
    background-image: none;
    background-color: #006666;
    color: white;
}

/* #End jumbotronBlog */

/*Student Dashboard CSS*/
div.jumbotronDB {
    margin-top: 100px;
    text-align: left;
    padding-top: 10px;
    background-color: white;

}
div.jumbotronDB h1{
    text-align: left;
}

div.jumbotronDB input[type="submit"] {
    font-family: "Arial Black", Gadget, sans-serif;
    background-color: #324B4B;
    color: white;
}
div.jumbotronDB input[type="submit"]:hover{
    font-family: "Arial Black", Gadget, sans-serif;
    background-color: #4A6E6E;
}
div.jumbotronDB .panel > .panel-heading {
    background-image: none;
    background-color: #324B4B;
    color: white;
}

.panel-title {
    font-family: "Arial Black", Gadget, sans-serif;
    font-weight: bold;
}

/*#jumbotronDB*/

h1{
    text-align: center;
}


.has-feedback .glyphicon{
    left: 0px;
}
.has-feedback input{
    padding-left: 30px;
}


div.carousel-caption h4{
     font: bold 34px "Century Schoolbook", Georgia, Times, serif;

}

form.signInForm input[type="text"]{
    width: 100%;
    border: 1px solid #d4d4d4;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 2em;
    font-size: 100%;
    margin-top: 0px;
    margin-bottom: 1%;

}
form.signInForm input[type="text"]{
    padding-left: 30px;
}
form.signInForm input[type="password"]{
    width: 100%;
    border: 1px solid #d4d4d4;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 2em;
    font-size: 100%;
    margin-top: 0px;
    margin-bottom: 1%;

}
form.signInForm input[type="password"]{
    padding-left: 30px;
}
form.registerForm input[type="text"]{
    width: 100%;
    border: 1px solid #d4d4d4;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 2em;
    font-size: 100%;
    margin-top: 0px;
    margin-bottom: 1%;

}
form.registerForm input[type="text"]{
    padding-left: 30px;
}
form.registerForm input[type="password"]{
    width: 100%;
    border: 1px solid #d4d4d4;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 2em;
    font-size: 100%;
    margin-top: 0px;
    margin-bottom: 1%;

}
form.registerForm input[type="password"]{
    padding-left: 30px;

}
form.registerForm select{
    width: 100%;
    border: 1px solid #d4d4d4;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 2em;
    font-size: 100%;
    margin-top: 0px;
    margin-bottom: 1%;

}

form.activeForm input[type="text"],input[type="password"]{
    width: 100%;
    border: 1px solid #d4d4d4;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 2em;
    box-shadow: inset 0px 2px 2px #ececec;
    display: inline;
    padding: 8px;
    font-size: 100%;
    margin-top: 0px;
    margin-bottom: 1%;
}
table{
    text-align: left;

}
div.jumbotronF th{
    background-color: #2E8A5C;
    color: #CCFFCC;

}
div.jumbotronF tr:hover td{
    background-color: #FFFFCC;
    color: #52663D;
    cursor: default;

}

.table-hover th{
    background-color: #990033;
    color: #FFFFCC;

}
.table-hover tr:hover td {
    background: #DAA3B5;
    color: #5C0000;
}



/*b {
    color: black;
}*/

#banner {
    width: 680px;
    display:block;
    margin:auto;
}


.pagination {
    background: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
}

.page {
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.page:hover, .page.gradient:hover {
    background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}


.page.gradient {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
    background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);
}


/*Enlarge picture*/
.enlarge img {
  height: 300px;
  width: 300px;

  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.enlarge img:hover {
  width: 400px;
  height: 400px;
}

.show {
  display: block !important;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.invisible {
  visibility: hidden;
}

// Usage as mixins
.element {
  .show();
}
.another-element {
  .hidden();
}


html,
body {
  /* Margin bottom by footer height */
  height: auto;
}
#pagewrap{
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
}

.footer {

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #1B84C5;
}
.footer a{
    color: grey;

}
.footer a:hover{
    color: #EBF5FF;
}


#notification_li {
    position:relative
}
#notificationContainer {
    background-color: #fff;
    color: #000;
    border: 1px solid rgba(100, 100, 100, .4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    overflow: visible;
    position: absolute;
    top: 30px;
    margin-left: -170px;
    width: 400px;
    z-index: -1;
    display: none; // Enable this after jquery implementation
}
// Popup Arrow
#notificationContainer:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    color: transparent;
    border: 10px solid black;
    border-color: transparent transparent white;
    margin-top: -20px;
    margin-left: 188px;
}
#notificationTitle {
    font-weight: bold;
    padding: 8px;
    font-size: 13px;
    background-color: #ffffff;
    position: absolute;
    z-index: 1000;
    width: 384px;
    border-bottom: 1px solid #dddddd;
}
#notificationsBody {
    padding: 33px 0px 0px 0px !important;
    min-height:300px;
}
#notificationFooter {
    background-color: #e9eaed;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    font-size: 12px;
    border-top: 1px solid #dddddd;
}

#notification_count {
    padding: 3px 7px 3px 7px;
    background: #cc0000;
    color: #ffffff;
    font-weight: bold;
    margin-left: 77px;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    position: absolute;
    margin-top: -11px;
    font-size: 11px;
}

div.containerFooter{
    background-color: #2E8A5C;
    text-align: center;
    bottom:0;
}

.text-muted {
    color: #ffffff;
}


.navbar-custom {
    background-color:#339966;
    /*FF9100*/
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
    padding-left:20px;
    padding-right:20px;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #38DF86;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color: #38DF86;
}